table, tbody, tr, td {
    border-collapse: collapse;
}

.btn {
    width: 100%;
    min-width: 100px;
    height: 100%;
    min-height: 100px;
    font-size: 30px;
    font-weight: 900;
}

.calculo {
    text-align: right;
    padding: 10px;
    font-weight: 600;
    font-size: 30px;
    background-color: #c1cec0;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid #ccc;
}

.resultado {
    text-align: right;
    padding: 10px;
    font-weight: 900;
    font-size: 40px;
    background-color: #f0f0f0;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid #ccc;
}

.limpar {
    background-color: crimson;
    font-size: 40px;
}

.igual {
    background-color: greenyellow;
    font-size: 40px;
}

.numeros {
    background-color: aquamarine;
}

.operacoes {
    background-color: blueviolet;
}

.btn:hover {
    opacity: 0.8;
}

.area {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}